<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Lighthouse iCal — iCal feeds for Lighthouse Milestones</title>
	<meta name="description" content="Provides iCal calendar feeds for Lighthouse project milestones.">
	<link rel="stylesheet" href="all.css" type="text/css">
	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-22388872-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</head>
<body>
	<h1>Lighthouse iCal</h1>
	<p>Enter the following details to get an iCal feed for your Lighthouse project milestones,
	   or just build your own URL in the following format:</p>
	<pre>http://<%= @request.host_with_port %>/account/token/projectid</pre>
	<form action="/" method="post">
		<p>
			<label for="account">Account</label>
			<input type="text" name="account" id="account" placeholder="Account name (xyz in xyz.lighthouseapp.com)">
		</p>
		<p>
			<label for="token">Token</label>
			<input type="text" name="token" id="token" placeholder="Visit Lighthouse to generate a token">
		</p>
		<p>
			<label for="projectid">Project ID</label>
			<input type="number" name="projectid" id="projectid" placeholder="Project ID (123 in xyz.lighthouseapp.com/projects/123)">
		</p>
		<p>
			<input type="submit" value="Go">
		</p>
	</form>
	<div id="foot">
   	<p>A <a href="http://craiga.id.au/">Craig Anderson</a> joint. <a href="https://github.com/craiga/lighthouse-ical-web">Get the code on GitHub.</a></p>
   </div>
</body>
</html>